NOTES/
test/
**/NOTES/
**/__pycache__/
**/*.pyc
**/*.pyo
venv/
.venv/
.git/
.gitignore
.github/
install.sh
install.ps1
clevernotes
clevernotes.cmd
Dockerfile
.dockerignore
README.md
*.pptx
*.pdf
*.md
.DS_Store
